<div class="col-xs-12">
  <h4>Recipe Name</h4>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Shopping list</a></li>
      <li><a href="#">Edit</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">

    <div class="pull-left">
      <h4 class="list-group-item-heading"> Description</h4>
      <p class="list-group-item-text"></p>
    </div>

  </div>
</div>